@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

::selection {
  background: #f7b526; /*Color naranja para el fondo*/
  color: #fff; /*Color blanco para el texto seleccionado*/
}
/*variables*/
:root {
  --background-color: #fbe690;
}
/*html*/
html {
  font-family: "Cabin", sans-serif;
}
p {
  font-family: "Cabin", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header */
.title,
.title-banner {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fdd843;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
.nav_list a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
  transition: all 0.3s ease;
}
.nav_list a:hover {
  color: black;
}

/*Menu*/
.menu {
  padding: 2rem;
}

.burger-list {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.burger-item {
  background-color: #fffdfdf6;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  width: 40rem;
  height: 100%;
  text-align: center;
  padding: 1rem;
}

.burger-item img {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.burger-item h3 {
  margin: 0.5rem 0;
}

.burger-item p {
  font-size: 0.875rem;
  color: #000000;
}

.add-to-cart {
  background-color: #ff5722;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.add-to-cart:hover {
  background-color: #e64a19;
}

/* Style cart */
.carrito {
  position: fixed;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 100px;
  height: 100px;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.count-products {
  position: absolute;

  color: #fff;
  background-color: black;
  border: 1px solid;
  border-radius: 50%;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  z-index: 1010;
}
.cart {
  display: none;
  background-color: #fff;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 1rem;
  position: fixed;
  right: 6rem;
  bottom: 1rem;
  width: 450px;
}

.cart h2 {
  margin-top: 0;
}

#cart-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#cart-items li {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cart-items .remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff5722;
  font-size: 3rem;
}

#cart-items .remove-btn:hover {
  color: #e64a19;
}

#cart-total {
  font-weight: bold;
  margin-top: 1rem;
}
/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info,
.footer-contact,
.footer-social {
  flex: 1;
  margin: 1rem;
}

.footer-info h3,
.footer-contact h3,
.footer-social h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.footer-info p,
.footer-contact p {
  font-size: 0.875rem;
  margin: 0.5rem 0;
}

.footer-social a {
  display: inline-block;
  margin: 0.5rem;
  color: #fff;
  text-decoration: none;
}

.footer-social img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.footer-bottom {
  margin-top: 1rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
}

.footer-bottom p {
  font-size: 0.875rem;
}
/*media queries*/
/* Dispositivos móviles  */
@media (max-width: 599px) {
  /*header*/
  .header {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_list {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_list a {
    font-size: 24px;
    padding: 10px 0;
  }

  .burger-item {
    width: 100%;
    margin: 0;
  }
  .nav_container {
    display: none;
  }

  .title {
    font-size: 40px;
  }
  /*main*/
  .burger-list {
    width: 300px;
  }

  .menu {
    display: grid;
    place-items: center;
  }
  .cart {
    width: 350px;
    height: 250px;
  }
  /*footer*/
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-info,
  .footer-contact,
  .footer-social {
    margin: 0.5rem 0;
  }
}
@media (max-width: 412px) {
  .title {
    font-size: 40px;
  }

  .burger-list {
    width: 300px;
  }
}

/* Tablets y pantallas de escritorio pequeñas */
@media (min-width: 600px) and (max-width: 1024px) {
  .burger-list {
    width: 900px;
  }
}
