* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --naranjabajito: #fa943e;
  --naranja: #ff9f0f;
  --crema: #fbe690;
  --white: #fff;
}
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #fbe690, #ff9f0f);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 1474px;
  height: 846px;
  border-radius: 15px;
    background: rgba(255,255,255,0.90);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 40px;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
}

.login-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-vector {
  width: 85%;
  max-width: 480px;;

}
.btn-regresar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #d15200;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  z-index: 10;
}

.btn-regresar:hover {
  color: #555;
}

.logo-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-right {
  width: 50%;
   background: rgba(255,255,255,0.90);
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.23), 0 16px 48px rgba(0,0,0,0.35);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aseguramos que se alinee desde arriba */
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  gap: 20px;
  text-align: center;
  overflow-y: auto; /* mantiene el desplazamiento si el contenido es largo */
  height: 100%; /* ajustamos para que tome todo el alto disponible */
  max-height: 90vh; /* controlamos el tamaño máximo visible */
}

.login-right h2 {
  color: #383838;
  font-family: "Roboto Flex", sans-serif;
  font-size: 40px;
  font-weight: 800;
  max-width: 495px;
}

.login-right .subtitle {
  color: #383838;
  font-family: "Roboto Flex", sans-serif;
  font-size: 24px;
  font-weight: 600;
  max-width: 495px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
  max-width: 400px;
  color: #979797;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.login-form label {
  align-self: flex-start;
  color: #979797;
  font-size: 16px;
  font-weight: 600;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"],
.login-form select {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  font-size: 14px;
  outline: none;
  background-color: white;
  font-family: 'Inter', sans-serif;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  appearance: none;
}

.login-form select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3e%3cpath fill='none' stroke='%23666' stroke-width='2' d='M1 1l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px 8px;
  cursor: pointer;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus,
.login-form select:focus {
  border-color: #007BFF;
  box-shadow: 0 0 6px rgba(0,123,255,0.5);
  outline: none;
}


input:-webkit-autofill {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.password-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  var(--naranja);
}

.password-info {
  color: #383838;
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.55px;
  text-align: left;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
}

.checkbox-group label {
    color: black;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.continuar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--naranja);
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.75px;
  text-decoration: none;
}

.continuar:hover{
   cursor: pointer;
}

.eye-icon {
  width: 24px;
  height: 24px;
  color: black;
  cursor: pointer;
  display: block;
  margin-top: 7px;
}
